body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo_imagen.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Alinear elementos verticalmente */
    height: 100vh;
  }
  
  .welcome-section {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor del contenedor */
    width: 100%; /* Abarcar todo el ancho */
    box-sizing: border-box; /* Considerar el relleno y el borde dentro del ancho total */
    position: fixed; /* Fijar la posición */
    top: 0; /* Parte superior de la pantalla */
    z-index: 999; /* Z-index alto para que esté sobre otros elementos */
  }
  
  .container {
    width: 80%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor del contenedor */
    margin-top: 80px; /* Espacio entre la bienvenida y el contenedor principal */
  }
  
  header {
    background-color: #1976D2;
    color: white;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0; /* Asegura que no haya espacio superior */
  }
  
  h1 {
    margin: 0; /* Elimina el margen predeterminado para el h1 */
  }
  
  nav button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1976D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  main button {
    padding: 0.5rem 1rem;
    background-color: #1976D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  